language: objective-c

script:
  - xctool -workspace TryTravisCI.xcworkspace -scheme TryTravisCI -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
  - xctool test -workspace TryTravisCI.xcworkspace -scheme TryTravisCITests -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
